.production__title{
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  margin-bottom: 16px;
  color: #2C2D2E;
  span{
    color: #EF7C00;
  }
}

.tabs__image{
  max-width: 1175px;
  height: 324px;
  width: 100%;
}